body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;

}

.orange-color {
    color: orange;

}

.flexible-container {
    display: flex;

}

.half-width {
    width: 100p%;
    padding: :left 5%;
}

.half-width img {
    width: 100p%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 400;


    padding: 10px 20px;
    border-radius: 5px;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.Dream big {
    background-image: url(images/exp-bg.png);

}

.Experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.Experience-item-similer {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 20px;
    border-left: 7px solid blue;

}

#full-stack-developer {
    border-left: 7px solid tomato;
}

footer p {
    text-align: center;
}